<!-- Article/page title -->
<div class="page__head">
  <h3 title="{{ page.greeting_trans }}" class="page__title greeting">{{ page.greeting }}</h3>
</div>
<!-- Article body -->
{{ page.content }}

<!-- Article sections -->
<div class="group">
  <div class="span12">
    <h3 class="heading--primary">Primary Skillset</h3>
    <ul class="skillset list--unordered">
      <li class="list--unordered__item">Front-end development</li>
      <li class="list--unordered__item">Visual design</li>
      <li class="list--unordered__item">User experience design</li>
      <li class="list--unordered__item">User interface design</li>
      <li class="list--unordered__item">Project management</li>
    </ul>
  </div>
</div>

<div class="group">
  <div class="span12">
    <h3 class="heading--primary">Experienced With <span class="tech-name"></span></h3>
    <ul class="tech-experience list--grid">
      <li class="list--grid__item">
        <a href="#/" title="Sketch 3" class="tech-experience__icon icon-custom-sketch"></a>
      </li>
      <li class="list--grid__item">
        <a href="#/" title="Omnigraffle" class="tech-experience__icon icon-custom-omnigraffle"></a>
      </li>
      <li class="list--grid__item">
        <a href="#/" title="Adobe Photoshop" class="tech-experience__icon icon-tech-photoshop"></a>
      </li>
      <li title="" class="list--grid__item">
        <a href="#/" title="Adobe Illustrator" class="tech-experience__icon icon-tech-illustrator"></a>
      </li>
      <li title="" class="list--grid__item">
        <a href="#/" title="HTML5" class="tech-experience__icon icon-tech-html5"></a>
      </li>
      <li title="" class="list--grid__item">
        <a href="#/" title="CSS3" class="tech-experience__icon icon-tech-css3"></a>
      </li>
      <li title="" class="list--grid__item">
        <a href="#/" title="Javascript" class="tech-experience__icon icon-tech-javascript"></a>
      </li>
      <li title="" class="list--grid__item">
        <a href="#/" title="jQuery" class="tech-experience__icon icon-tech-jquery"></a>
      </li>
      <li title="" class="list--grid__item">
        <a href="#/" title="Sass" class="tech-experience__icon icon-tech-sass"></a>
      </li>
      <li title="" class="list--grid__item">
        <a href="#/" title="Bootstrap" class="tech-experience__icon icon-tech-bootstrap"></a>
      </li>
      <li title="" class="list--grid__item">
        <a href="#/" title="Git" class="tech-experience__icon icon-tech-git-squared"></a>
      </li>
      <li title="" class="list--grid__item">
        <a href="#/" title="AngularJS" class="tech-experience__icon icon-tech-angular"></a>
      </li>
      <li title="" class="list--grid__item">
        <a href="#/" title="Grunt" class="tech-experience__icon icon-tech-grunt"></a>
      </li>
      <li title="" class="list--grid__item">
        <a href="#/" title="Bower" class="tech-experience__icon icon-tech-bower"></a>
      </li>
      <li title="" class="list--grid__item">
        <a href="#/" title="Wordpress" class="tech-experience__icon icon-tech-wordpress"></a>
      </li>
      <li title="" class="list--grid__item">
        <a href="#/" title="Jira" class="tech-experience__icon icon-tech-jira-alt"></a>
      </li>
    </ul>
  </div>
</div>

<div class="group">
  <div class="span6">
    <h3 class="heading--primary">Practised</h3>
    <ul class="tech-practice list--unordered">
      <li class="list--unordered__item">Responsive Web Design</li>
      <li class="list--unordered__item">Atomic Design</li>
      <li class="list--unordered__item">Lean UX</li>
      <li class="list--unordered__item">Agile Methodology</li>
      <li class="list--unordered__item">Scrum</li>
      <li class="list--unordered__item">B.E.M.</li>
      <li class="list--unordered__item">SMACSS</li>
      <li class="list--unordered__item">Pomodoro Technique</li>
    </ul>
  </div>
  <div class="span6">
    <h3 class="heading--primary">Studying</h3>
      <ul class="tech-studying list--unordered">
        <li class="list--unordered__item">AngularJS (Advanced)</li>
        <li class="list--unordered__item">Product Management</li>
        <li class="list--unordered__item">Data Analysis with R</li>
        <li class="list--unordered__item">Babel</li>
      </ul>
  </div>
</div>

<div class="group">
  <div class="span12">
    <h3 class="heading--primary">Articles I Like to read more than once</h3>
    <ul class="bookmarks list--unordered">
      <li class="list--unordered__item"><a class="link--text" href="http://principles.adactio.com/">Design Principles</a> <br class="newline">by Jeremy Keith</li>
      <li class="list--unordered__item"><a class="link--text" href="http://startupsthisishowdesignworks.com/">Startups, This is How Design Works</a> <br class="newline">by Wells Riley</li>
      <li class="list--unordered__item"><a class="link--text" href="http://bokardo.com/principles-of-user-interface-design/">Principles of User Interface Design</a> <br class="newline">by Joshua Porter</li>
      <li class="list--unordered__item"><a class="link--text" href="http://goodui.org/">A Good User Interface</a> <br class="newline">by Jakub Linowski</li>
      <li class="list--unordered__item"><a class="link--text" href="https://youarenotsosmart.com/2013/05/23/survivorship-bias/">Survivorship Bias</a> <br class="newline">by David McRaney</li>
      <li class="list--unordered__item"><a class="link--text" href="http://www.joelonsoftware.com/articles/fog0000000043.html">The Joel Test: 12 Steps to Better Code</a> <br class="newline">by Joel Spolsky</li>
      <li class="list--unordered__item"><a href="https://davidwalsh.name/responsive-images" class="link--text">Responsive Images: The Ultimate Guide</a> <br class="newline">by David Walsh</li>
    </ul>
  </div>
</div>

<div class="group">
  <div class="span12">
    <h3 class="heading--primary">Books I Like to read more than once</h3>
    <ul class="bookshelf list--pane">
      <li class="list--pane__item">
        <a href="http://amzn.to/29EKc0C" title="A Field Guide to User Research">
          <span class="book-1"></span>
        </a>
      </li>
      <li class="list--pane__item">
        <a href="http://amzn.to/29Kde0a" title="Eloquent Javascript"><span class="book-2"></span>
        </a>
      </li>
      <li class="list--pane__item">
        <a href="http://amzn.to/29DaEpf" title="A Project Guide to UX Design"><span class="book-3"></span></a>
      </li>
      <li class="list--pane__item">
        <a href="http://amzn.to/29Kct7u" title="The (Honest) Truth About Dishonesty"><span class="book-4"></span></a>
      </li>
      <li class="list--pane__item">
        <a href="http://amzn.to/29Fw9sT" title="Don't Make Me Think"><span class="book-5"></span></a>
      </li>
      <li class="list--pane__item">
        <a href="http://amzn.to/29FwNGz" title="Re-Work"><span class="book-6"></span></a>
      </li>
      <li class="list--pane__item">
        <a href="http://amzn.to/29KbTXz" title="Daring Greatly"><span class="book-7"></span></li></a>
      <li class="list--pane__item">
        <a href="http://amzn.to/29QTf2i" title="Lean UX"><span class="book-8"></span></a>
      </li>
      <li class="list--pane__item">
        <a href="http://amzn.to/29QTjz0" title="The Lean Startup"><span class="book-9"></span></a>
      </li>
      <li class="list--pane__item">
        <a href="http://amzn.to/29Fxvna" title="Sprint"><span class="book-10"></span></a>
      </li>
    </ul>
  </div>
</div>
