<div class="links--personal">
  <a href="" class="links__item">
    <i class="links__icon icon-file-pdf-o"></i>
    <small class="links__desc">View my</small>
    <h4 class="links__label">Resume</h4>

  </a>
  <a href="" class="links__item">
    <i class="links__icon icon-github-alt"></i>
    <small class="links__desc">Check my</small>
    <h4 class="links__label">Github</h4>

  </a>
  <a href="" class="links__item">
    <i class="links__icon icon-codepen"></i>
    <small class="links__desc">Explore my</small>
    <h4 class="links__label">Codepen</h4>

  </a>
</div>
