<!-- Fixed sidebar in desktop and tablet, Sliding menu in mobile, static on home page -->

<!-- Sidebar -->
<div class="sidebar animated slideOutLeft eased">
  <!-- Heading -->
  <header class="sidebar__header">
      <a class="header__logo--normal" href="/">
        <img class="svg logo--personal--med center-vertical" src="../img/logo.svg" width="30" height="30" alt="Anagram of my nickname Em-Em">
        <h1 class="title--site">ELLESA SABASAJE</h1>
      </a>
    <h2 class="profession">Front-End Developer<br>UX Designer</h2>
  </header>

  <!-- Main Navigation -->
  <nav class="sidebar__nav">
    <ul class="nav--main">
      <li class="nav--main__item"><a href="/">About</a></li>
      <li class="nav--main__item"><a href="/projects">Work &amp; Projects</a></li>
      <li class="nav--main__item"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <!-- Footer -->
  <footer class="sidebar__footer">
    <nav class="footer__nav">
      <ul class="nav--social">
        <li class="nav--social__item"><a href="https://twitter.com/ezakaze"><i class="icon-twitter"></i></a></li>
        <li class="nav--social__item"><a href="https://www.linkedin.com/in/ellesa
"><i class="icon-linkedin"></i></a></li>
        <li class="nav--social__item"><a href="http://github.com/emsky"><i class="icon-github"></i></a></li>
        <li class="nav--social__item"><a href="http://codepen.io/emsky/"><i class="icon-codepen"></a></i></li>
      </ul>

      <p class="thanks">Copyright 2016 Ellesa Sabasaje</p>
    </nav>
  </footer>

</div>
