/**
 * Site header
 */

body, html {
  height: 100%;
}

.header {
  height: $baseline-height * 3;
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 108;
}

.logo--personal--small {
  width: 30px;
  height: 30px;
  float: left;
  margin-left: $margin;
  margin-top: 30px;
}
.header__logo--small h1 {
  display: block;
  float: left;
  margin-left: $margin / 2;
  margin-top: $margin;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}
.sidebar {
  display: block;
  position: fixed;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  top: 0;
  left: 0;
  height: 100%;
  width: $sidebar-width; // Full-width in mobile
  z-index: 109;
  overflow-x: hidden;
}
.sidebar__header {
  display: block;
  position: relative;
  top: 0;
  width: 100%;
  height: auto;
  // margin-bottom: $margin;  #TODO Restore this margin on larger screens
  margin-top: 0;
  padding: $padding;

}
.logo--personal--med {
  width: 60px;
  height: 60px;
  float: left;
  margin-top: 30px;
}
.header__logo--normal {
  display: flex;
  flex-direction: column;
  margin: $margin 0 $margin $margin;
}
.sidebar__header h1 {
  margin: 0;
  font-family: $primary-font-family;
  font-size: $base-font-size * 1.5;
  line-height: $line-height * 1.5;
  margin-top: -$margin * 0.5;
  font-weight: 400;
}
.sidebar__footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: $baseline-height * 3;
}
.sidebar__toggle {
  display: block;
  position: fixed;
  z-index: 109;
  top: 0;
  right: 0;
  width: $baseline-height * 3;
  height: $baseline-height * 3;
  padding-top: $padding / 2;
  background: transparentize($white, 0.3);
}
.sidebar__toggle span {
  display: block;
  height: 1px;
  width: 25px;
  background-color: $primary-color;
  margin: 8.33px auto 0;
  transition: 1s all cubic-bezier(0.86, 0, 0.07, 1);
}
.sidebar__toggle span:nth-child(4){
  position: relative;
  background-color: rgba(255, 0, 0, 0);
  top: -18px;
}
.sidebar__toggle span:nth-child(5){
  position: relative;
  background-color: rgba(255, 0, 0, 0);
  top: -28px;
}
.content {
  display: block;
  width: 100%;
  height: 100%; // Testing
  margin-top: $baseline-height * 3;
  overflow-x: hidden;
}
.article-wrapper {
  padding: 0 $padding/2;
}
.masthead {
  display: block;
  height:auto;
  position: relative;
}
.fluidimage {
  display: block;
  vertical-align: baseline;
}
.projects {
  padding-top: $baseline-height;
}
.project {
  display: block;
  position: relative;
  height: $baseline-height * 8;
  width: auto;
  overflow: hidden;
  background-size: cover;
  background-position-x: right;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.4);
  -webkit-transition: 500ms all ease-in-out 100ms;
  transition: 500ms all ease-in-out 100ms;
}
.project:hover {
  box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.40);
  transform: translateY(-5px);
}
.project__logo {
  display: block;
  position: absolute;
  height: auto;
  width: auto;
  max-height: 50%;
  max-width: 80%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 102;
}
.logo--nimbyx {}
.logo--evident {}
.logo--nav {}
.logo--jds { }
.logo--sugarhabits { }
.logo--bitehero { }

.project:before, .project__bg:before {
    content: '';
    display: inline-block;
}
.project__bg {
  display: none;
  height: $baseline-height * 8;
  width: 100%;
  z-index: 102;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary-color;
  -webkit-transform: translateX(100%) translateX(350px);
  transform: translateX(100%) translateX(350px);
  -webkit-transition: 500ms transform ease-in-out 100ms;
  transition: 500ms transform ease-in-out 100ms;

}
.project__bg::before {
  display: block;
  position: absolute;
  left: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 350px 350px 0;
  border-color: transparent $primary-color transparent transparent;
  -webkit-transform: translateX(-100%) translateY(-50px);
  transform: translateX(-100%) translateY(-50px);
}
.project_intro * {
  color: $inverted-text-color;
  text-decoration: none;
}
.project:hover .project__bg {
  -webkit-transform:translateX(0);
  transform: translateX(0);
  -webkit-transition: 500ms transform ease-in-out;
  transition: 500ms transform ease-in-out;
}
.project__intro {
  display: none;
  position: relative;
  opacity: 0;
  width: 100%;
  color: $black;
  -webkit-transition: 500ms all ease-in-out;
  transition: 500ms all ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 0 20px;
  padding: 0 1.25rem;
  z-index: 103;
}
.project:hover .project__intro {
  opacity: 1;
  color: $inverted-text-color;
  -webkit-transition: 500ms opacity ease-in-out 250ms;
  transition: 500ms opacity ease-in-out 250ms
}

.project__intro:hover{
}
 .project__title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: $base-font-size * 1.2;
    line-height: $baseline-height;
    margin-bottom: $margin;
    margin-top:0;
 }
 .project__caption {
   font-weight: 300;
   font-size: $base-font-size - 2;
   margin-bottom: $margin;
   display: block;
 }
 .project__link {
   display: inline-block;
   font-size: $base-font-size - 2;
   font-weight: 300;
   text-transform: uppercase;
   height: $baseline-height * 2;
   line-height: $baseline-height *2;
   width: auto;
   border: 1px solid $inverted-color;
   padding: 0 $padding;
 }
