body, html {
  background-color: $silver;
}

.header {
  @include box-shadow(0, 1px, 1px, transparentize($black, 0.9));
  background-color: $white;
}

.logo--personal--small path {
  fill: $red !important;
}
.sidebar {
  @include box-shadow(1px, 0, 1px, transparentize($black, 0.9));
  background-color: $white;
}
.logo--personal--med path {
  fill: $red !important;
}
.profession {
  font-family: $tertiary-font-family;
  font-size: $base-font-size - 4;
  color: $grey;
  line-height: $line-height;
  margin-left: $margin;
}
.thanks {
  font-size: 12px;
  color: $grey;
}
