//**
// Form Elements
//**
/*
label {
  display: block;
  margin-bottom: 5px;
}

input[type=text],
input[type=email],
input[type=phone],
input[type=password],
input[type=number],
input[type=search],
textarea {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .05);
  border-radius: $btn-br;
  border: 1px solid #ccc;
  height: $line-height;
  outline: none;
  padding: 5px 10px;
  width: 300px;

  &:focus {
    border-color: $primary-color;
  }

  &.full-width {
    width: 100%;
  }
}

textarea {
  height: $line-height*3;
}

form {
  margin-bottom: $padding;

  // Wrap each form input/element in a field div
  .field {
    margin-bottom: $padding/2;
  }

  // Notes go under the input fields
  .hint {
    color: $subtle-color;
    margin-top: 5px;
  }

  // Required label
  .is-required {
    font-style: italic;
  }

  // Validation, add error class to the item div
  .has-error {

    // Validation reason
    .error-description {
      color: $danger-color;
      margin-top: 5px;
    }

    input[type=text],
    input[type=email],
    input[type=phone],
    input[type=password],
    input[type=number],
    input[type=search],
    textarea {
      border-color: $danger-color;
    }
  }
}
 */
// Themed Form

.form__control {
  display: block;
  position: relative;
  width: 100%;
  min-height: $baseline-height * 2.25;
  margin-bottom: $margin;
  padding: 0;
  box-sizing: border-box;
}
.form__label {
  display: block;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: $baseline-height * 2.25;
  height: $baseline-height * 2.25;
  background: $secondary-color;
  color: $inverted-text-color;
  text-align: center;
  vertical-align: middle;
  line-height: $baseline-height * 2.25;
  transition: 300ms background-color ease-in-out 100ms;
}

.form__input, .form__textarea {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  min-height: $baseline-height * 2.25;
  padding-left: $baseline-height * 2.75;
  padding: $padding/2 $padding/2 $padding/2 $baseline-height * 2.75;
  margin: 0;
  border-radius: 0;
  border: 0;
  background: transparent;
  border: 1px solid $secondary-color;
  font-family: $primary-font-family;
  font-weight: 300;
  color: $primary-text-color;
  transition: 300ms border-color ease-in-out 100ms;
}
.form__input:focus,
.form__textarea:focus {
  border-color: $primary-color;
  outline: 0;
}
.form__input:focus+.form__label,
.form__textarea:focus+.form__label {
  background-color: $primary-color;
}
.form__submit {
  display: block;
  height: $baseline-height * 2.25;
  background: $secondary-color;
  text-transform: uppercase;
  font-size: $base-font-size;
  color: white;
  border: 0;
  float: right;
  padding: 0 40px;
  -webkit-transition: 0.5s all $transition-timing-fxn;
  -o-transition: 0.5s all $transition-timing-fxn;
  transition: 0.5s all $transition-timing-fxn;
}
.form__submit:hover {
  background: $primary-color;
  box-shadow: 0px 16px 15px 0px rgba(0,0,0,0.30);
  transform: translateY(-1px);
}
.contact-form {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  margin-bottom: $margin * 4;
}
.contact-confirm {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}
.confirm__title {
  font-family: $secondary-font-family;
  font-weight: 400;
  font-size: $base-font-size * 3;
  padding: $padding 0;
  margin: $margin 0;
}
.contact-wrapper {
  margin-top: $margin * 2;
  position: relative;
  width: 100%;
}
