//**
// Navigation
//**

// Sidebar Navigation
.sidebar__nav {
  display: block;
  width: 100%;
  height: $baseline-height * 9;
}
.nav--main {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0;
}
.nav--main__item {
  flex-grow: 1;
  border-bottom: 1px solid $silver;
}
.nav--main__item:first-child {
  border-top: 1px solid $silver;
}
.nav--main__item a {
  text-decoration: none;
  display: block;
  height: $baseline-height * 2;
  line-height: $line-height * 2;
  padding-left: $padding * 2;
  color: $primary-text-color;
  font-weight: 300;
  -webkit-transition: 0.5s all $transition-timing-fxn;
  -o-transition: 0.5s all $transition-timing-fxn;
  transition: 0.5s all $transition-timing-fxn;
}
.nav--main__item a:before {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
}
.nav--main__item a:hover,
.nav--main__item a:active {
  color: $primary-color;
//  box-shadow: 0px 16px 15px rgba(0,0,0,0.30), 0 5px 5px $white;
  transform: translateY(-1px);
//  text-shadow: inset 0 1px 0 transparentize(maroon,0.2);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
//  -webkit-box-shadow: 0px 9px 14px transparentize($grey, 0.5);
//  -moz-box-shadow: 0px 9px 14px transparentize($grey, 0.5);
//  box-shadow: 0px 9px 14px transparentize($grey, 0.5);;
//  border-bottom: 1px solid white;
}

// Social navigation

.nav--social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  @extend %clearfix;
}
.nav--social__item {
  margin-right: $margin / 2;
}
.nav--social__item:last-child {
  margin-right: 0;
}
.nav--social__item a {
  display: block;
  position: relative;
  float: left;
  background-color: $primary-color;
  height: $baseline-height * 2;
  width: $baseline-height * 2;
  border-radius: 50%;
  color: $white;
  text-decoration: none;
  -webkit-transition: 0.5s all $transition-timing-fxn;
  -o-transition: 0.5s all $transition-timing-fxn;
  transition: 0.5s all $transition-timing-fxn;
}
.nav--social__item a:hover,
.nav--social__item a:active {
  box-shadow: 0px 16px 15px 0px rgba(0,0,0,0.30);
  transform: translateY(-1px);
}

//This centers the icon within the button
a [class^="icon-"] {
  display: table-cell;
  height: inherit;
  width: inherit;
  vertical-align: middle;
  text-align: center;
}
