//**
// Navigation
//**

// Sidebar Navigation
.sidebar__nav {
  display: block;
  width: 100%;
  height: auto;
}
.nav--main {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
  margin: 0;
}
.nav--main__item {
  flex: 1 1 auto;
  position: relative;
  align-self: flex-start;
  margin-left: $padding * 2;
}
.nav--main__item a {
  text-decoration: none;
  height: $baseline-height * 2;
  line-height: $line-height * 2;
  color: $primary-text-color;
  font-weight: normal;
  -webkit-transition: 0.5s all $transition-timing-fxn;
  -o-transition: 0.5s all $transition-timing-fxn;
  transition: 0.5s all $transition-timing-fxn;
}
.nav--main__item a:after {
  content: ' ';
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  border-bottom: 6px solid $primary-color;
  -webkit-transition: 0.5s all $transition-timing-fxn;
  -o-transition: 0.5s all $transition-timing-fxn;
  transition: 0.5s all $transition-timing-fxn;
}
.nav--main__item a:hover:after {
  width: 100%;
}
.nav--main__item a:hover,
.nav--main__item a:active {
  color: $primary-color;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

// Social navigation

.nav--social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  background: $white;
  @extend %clearfix;
}
.nav--social__item {
  margin-right: $margin / 2;
}
.nav--social__item:last-child {
  margin-right: 0;
}
.nav--social__item a {
  display: block;
  position: relative;
  float: left;
  height: $baseline-height * 2;
  width: $baseline-height * 2;
  color: $subtle-text-color;
  font-size: $base-font-size;
  text-decoration: none;
  -webkit-transition: 0.5s all $transition-timing-fxn;
  -o-transition: 0.5s all $transition-timing-fxn;
  transition: 0.5s all $transition-timing-fxn;
}
.nav--social__item a:hover,
.nav--social__item a:active {
  color: $primary-color;
}
.nav--social__icon::before {
  font-size: $base-font-size * 1.5;
}

//This centers the icon within the button
a [class^="icon-"] {
  display: table-cell;
  height: inherit;
  width: inherit;
  vertical-align: middle;
  text-align: center;
}
