//**
// Navigation
//**

// Sidebar Navigation
.sidebar__nav {
  display: block;
  width: 100%;
  height: $baseline-height * 9;
}
.nav--main {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0;
}
.nav--main__item {
  flex-grow: 1;
  border-bottom: 1px solid $silver;
}
.nav--main__item:first-child {
  border-top: 1px solid $silver;
}
.nav--main__item a {
  text-decoration: none;
  display: block;
  height: $baseline-height * 3;
  line-height: $baseline-height * 3;
  padding-left: $padding * 2;
  color: $black;
  font-weight: bold;
}

// Social navigation

.nav--social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  @extend %clearfix;
}
.nav--social__item {
  margin-right: $margin / 2;
}
.nav--social__item:last-child {
  margin-right: 0;
}
.nav--social__item a {
  display: block;
  position: relative;
  float: left;
  background-color: $primary-color;
  height: $baseline-height * 2;
  width: $baseline-height * 2;
  border-radius: 50%;
  color: $white;
  text-decoration: none;
}

//This centers the icon within the button
a [class^="icon-"] {
  display: table-cell;
  height: inherit;
  width: inherit;
  vertical-align: middle;
  text-align: center;
}
