<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- Fixed Header -->
    <div class="header">
      <div class="header__logo--small">
        <img src="" alt="">
        <h1>ELLESA SABASAJE</h1>
      </div>
    </div>


    <!-- Hidden Sidebar -->
    <div class="sidebar">
      <!-- Heading -->
      <div class="sidebar__header">
        <div class="header__logo--normal">
          <img src="" alt="">
          <h1>ELLESA SABASAJE</h1>
        </div>
      </div>

      <!-- Main Navigation -->
      <!-- Footer -->
    </div>

    <!-- Main Content -->


  </body>

</html>
