<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include preloader.html %}
    {% include header.html %}
    {% include sidebar.html %}

    <div class="container content">
      <!-- Page masthead -->
        <section class="masthead masthead--error">
          <img src="{{ page.masthead_src }}" />
        </section>



      <div class="article-wrapper">
        <article>
          <!-- Article/page title -->
          <div class="page__head">
            <h3 class="page__title title--error">{{ page.article_title }}</h3>
            <h4 class="page__subtitle">{{ page.article_subtitle }}</h4>
          </div>

          <!-- Content -->
          {{ page.content }}
        </article>
      </div>

    {% include footer.html %}

  </body>

</html>
