<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- My awesome preloader -->
    <div class="preloader">
      <div class="wrapper">
        <span class="mouse"></span>
        <span class="mouse"></span>
        <span class="mouse"></span>
        <span class="mouse"></span>
        <span class="mouse"></span>
        <img class="svg"  src="img/logo.svg"/>
      </div>
      <h2 class="animated flash">LOADING</h2>
    </div>

    <!-- Fixed Header -->
    <div class="header animated slideInDown eased">
      <div class="header__logo--small">
        <img class="svg logo--personal--small center-vertical" src="img/logo.svg" width="30" height="30" alt="Anagram of my nickname Em-Em">
        <h1>ELLESA SABASAJE</h1>
      </div>
    </div>
    <div class="toggle__wrapper">
      <a class="sidebar__toggle">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <!-- Sidebar -->
    <div class="sidebar animated slideOutLeft eased">
      <!-- Heading -->
      <header class="sidebar__header">
        <div class="header__logo--normal">
          <img class="svg logo--personal--med center-vertical" src="img/logo.svg" width="30" height="30" alt="Anagram of my nickname Em-Em">
          <h1>ELLESA SABASAJE</h1>
        </div>
        <h2 class="profession">Front-End Developer<br>UX Designer</h2>
      </header>

      <!-- Main Navigation -->
      <nav class="sidebar__nav">
        <ul class="nav--main">
          <li class="nav--main__item"><a href="">About</a></li>
          <li class="nav--main__item"><a href="">Work &amp; Projects</a></li>
          <li class="nav--main__item"><a href="">Contact</a></li>
        </ul>
      </nav>
      <!-- Footer -->
      <footer class="sidebar__footer">
        <nav class="footer__nav">
          <ul class="nav--social">
            <li class="nav--social__item"><a href=""><i class="icon-twitter"></i></a></li>
            <li class="nav--social__item"><a href=""><i class="icon-linkedin"></i></a></li>
            <li class="nav--social__item"><a href=""><i class="icon-github"></i></a></li>
            <li class="nav--social__item"><a href=""><i class="icon-behance"></a></i></li>
          </ul>

          <p class="thanks">Copyright 2016 Ellesa Sabasaje</p>
        </nav>
      </footer>

    </div>

    <!-- Main Content -->
    <div class="content">

    </div>


<!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> -->
  <script>

    $(document).ready(function () {
      var sideBar = $('.sidebar');
      var menu = $('.sidebar__toggle');
      menu.hide();
      // Only in mobile
      menu.click(function() {
        $(this).toggleClass('sidebar--is-active');
        $('.header').toggleClass('slideOutUp slideInDown');
        sideBar.toggleClass('slideOutLeft slideInLeft');
      });

    });

    window.onload = function() {
      var sideBar = $('.sidebar');
      var menu = $('.sidebar__toggle');
      console.log("LOADED");
      if ($(window).width() >= 768){
        console.log("DETECTED: Tablet and above");
        if (sideBar.hasClass('slideOutLeft')) {
          sideBar.removeClass('slideOutLeft').addClass('slideInLeft');
        }
        menu.fadeOut('fast');
      } else {
        console.log("DETECTED: Phones");
        if(sideBar.hasClass('slideInLeft')) {
          sideBar.removeClass('slideInLeft').addClass('slideOutLeft');
        }
        menu.fadeIn('fast');
      }
    }

    // Media query
    $(window).resize(function(){
      var sideBar = $('.sidebar');
      var menu = $('.sidebar__toggle');
      console.error("DETECTED: Window resize");
      if ($(window).width() >= 768){
        if (sideBar.hasClass('slideOutLeft')) {
          sideBar.removeClass('slideOutLeft').addClass('slideInLeft');
        }
        menu.fadeOut('fast');
        console.log('Sidebar made visible');
      } else {
        if(sideBar.hasClass('slideInLeft')) {
          sideBar.removeClass('slideInLeft').addClass('slideOutLeft');
        }
        menu.fadeIn('fast');
      }
    });


  </script>

  </body>

</html>
