<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

     <!-- Vertical baseline overlay -->
     <!-- <div class="baseline-overlay"></div> -->

    <!-- My awesome preloader -->
    <div class="preloader">
      <div class="wrapper">
        <span class="mouse"></span>
        <span class="mouse"></span>
        <span class="mouse"></span>
        <span class="mouse"></span>
        <span class="mouse"></span>
        <img class="svg"  src="img/logo.svg"/>
      </div>
      <h2 class="animated flash">LOADING</h2>
    </div>

    <!-- Fixed Header -->
    <div class="header animated slideInDown eased">
      <div class="header__logo--small">
        <img class="svg logo--personal--small center-vertical" src="img/logo.svg" width="30" height="30" alt="Anagram of my nickname Em-Em">
        <h1>ELLESA SABASAJE</h1>
      </div>
    </div>
    <div class="toggle__wrapper">
      <a class="sidebar__toggle">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <!-- Sidebar -->
    <div class="sidebar animated slideOutLeft eased">
      <!-- Heading -->
      <header class="sidebar__header">
        <div class="header__logo--normal">
          <img class="svg logo--personal--med center-vertical" src="img/logo.svg" width="30" height="30" alt="Anagram of my nickname Em-Em">
          <h1>ELLESA SABASAJE</h1>
        </div>
        <h2 class="profession">Front-End Developer<br>UX Designer</h2>
      </header>

      <!-- Main Navigation -->
      <nav class="sidebar__nav">
        <ul class="nav--main">
          <li class="nav--main__item"><a href="">About</a></li>
          <li class="nav--main__item"><a href="">Work &amp; Projects</a></li>
          <li class="nav--main__item"><a href="">Contact</a></li>
        </ul>
      </nav>
      <!-- Footer -->
      <footer class="sidebar__footer">
        <nav class="footer__nav">
          <ul class="nav--social">
            <li class="nav--social__item"><a href=""><i class="icon-twitter"></i></a></li>
            <li class="nav--social__item"><a href=""><i class="icon-linkedin"></i></a></li>
            <li class="nav--social__item"><a href=""><i class="icon-github"></i></a></li>
            <li class="nav--social__item"><a href=""><i class="icon-behance"></a></i></li>
          </ul>

          <p class="thanks">Copyright 2016 Ellesa Sabasaje</p>
        </nav>
      </footer>

    </div>

    <!-- Main Content -->
    <div class="container content">
      <!-- Page masthead -->


      <article>
          <!-- Article/page title -->
          <div class="page__head">
            <h3 class="page__title">Bal'a dash malanore!</h3>
            <h5 class="page__subtitle">("Greetings, friend!" in Thalassian)</h5>
          </div>
          <!-- Article body -->
          <p class="text--body">My name is Ellesa and I’m a UX designer and front-end developer based in Manila.
            I focus on designing and shipping applications that offer users an enjoyable experience.</p>
          <p class="text--body">Typically, this process includes discovery, user research, brainstorming, wire framing, prototyping, testing, visual design, writing code and working closely with teams. Here are some of the tools I use.</p>
          <p class="text--body">I write production-ready HTML, CSS and Javascript, and am comfortable committing code and deploying to production. Check out samples of my work here and on Github. Or perhaps, have a peek at my CV.</p>
          <p class="text--body">I take a lean and agile approach to product design, using user research, proto-personas and data to help steer design decisions early in the process, continuously validating information gathered.</p>
          <p class="text--body">I’m on a quest to grow personally and professionally around the world. I want to be part of projects that I can be proud of, join an amazing team and advance my design career. Take some time to look at my work, credentials and if you’re interested in heling me make this happen, let’s get in touch.</p>

          <!-- Article sections -->
          <div class="group">
            <div class="span12">
              <h3 class="heading--primary">Primary Skillset</h3>
              <ul class="skillset list--unordered">
                <li class="list--unordered__item">Front-end development</li>
                <li class="list--unordered__item">Visual design</li>
                <li class="list--unordered__item">User experience design</li>
                <li class="list--unordered__item">User interface design</li>
                <li class="list--unordered__item">Project management</li>
              </ul>
            </div>
          </div>

          <div class="group">
            <div class="span12">
              <h3 class="heading--primary">Experienced With</h3>
              <ul class="tech-experience list--grid">
                <li class="list--grid__item"><button class="tech-experience__icon icon-custom-sketch"></button></li>
                <li class="list--grid__item"><i class="tech-experience__icon icon-custom-omnigraffle"></i></li>
                <li class="list--grid__item"><i class="tech-experience__icon icon-tech-photoshop"></i></li>
                <li class="list--grid__item"><i class="tech-experience__icon icon-tech-illustrator"></i></li>
                <li class="list--grid__item"><i class="tech-experience__icon icon-tech-html5"></i></li>
                <li class="list--grid__item"><i class="tech-experience__icon icon-tech-css3"></i></li>
                <li class="list--grid__item"><i class="tech-experience__icon icon-tech-js"></i></li>
                <li class="list--grid__item"><i class="tech-experience__icon icon-tech-jquery"></i></li>
                <li class="list--grid__item"><i class="tech-experience__icon icon-tech-sass"></i></li>
                <li class="list--grid__item"><i class="tech-experience__icon icon-tech-bootstrap"></i></li>
                <li class="list--grid__item"><i class="tech-experience__icon icon-tech-git-squared"></i></li>
                <li class="list--grid__item"><i class="tech-experience__icon icon-tech-angular"></i></li>
                <li class="list--grid__item"><i class="tech-experience__icon icon-tech-grunt"></i></li>
                <li class="list--grid__item"><i class="tech-experience__icon icon-tech-bower"></i></li>
                <li class="list--grid__item"><i class="tech-experience__icon icon-tech-wordpress"></i></li>
                <li class="list--grid__item"><i class="tech-experience__icon icon-tech-jira-alt"></i></li>
              </ul>
            </div>
          </div>

          <div class="group">
            <div class="span6">
              <h3 class="heading--primary">Practised</h3>
              <ul class="tech-practice list--unordered">
                <li class="list--unordered__item">Responsive Web Design</li>
                <li class="list--unordered__item">Atomic Design</li>
                <li class="list--unordered__item">Lean UX</li>
                <li class="list--unordered__item">Agile Methodology</li>
                <li class="list--unordered__item">Scrum</li>
                <li class="list--unordered__item">B.E.M.</li>
                <li class="list--unordered__item">SMACSS</li>
                <li class="list--unordered__item">Pomodoro Technique</li>
              </ul>
            </div>
            <div class="span6">
              <h3 class="heading--primary">Studying</h3>
                <ul class="tech-studying list--unordered">
                  <li class="list--unordered__item">AngularJS (Advanced)</li>
                  <li class="list--unordered__item">Product Management</li>
                  <li class="list--unordered__item">Data Analysis with R</li>
                </ul>
            </div>
          </div>

          <div class="group">
            <div class="span12">
              <h3 class="heading--primary">Articles I Like to read more than once</h3>
              <ul class="bookmarks list--unordered">
                <li class="list--unordered__item"><a class="link--text" href="http://principles.adactio.com/">Design Principles</a> <br>by Jeremy Keith</li>
                <li class="list--unordered__item"><a class="link--text" href="http://startupsthisishowdesignworks.com/">Startups, This is How Design Works</a> <br>by Wells Riley</li>
                <li class="list--unordered__item"><a class="link--text" href="http://bokardo.com/principles-of-user-interface-design/">Principles of User Interface Design</a> <br>by Joshua Porter</li>
                <li class="list--unordered__item"><a class="link--text" href="http://goodui.org/">A Good User Interface</a> <br>by Jakub Linowski</li>
                <li class="list--unordered__item"><a class="link--text" href="https://youarenotsosmart.com/2013/05/23/survivorship-bias/">Survivorship Bias</a> <br>by David McRaney</li>
                <li class="list--unordered__item"><a class="link--text" href="http://www.joelonsoftware.com/articles/fog0000000043.html">The Joel Test: 12 Steps to Better Code</a> <br>by Joel Spolsky</li>
              </ul>
            </div>
          </div>

          <div class="group">
            <div class="span12">
              <h3 class="heading--primary">Books I Like to read more than once</h3>
              <ul class="bookshelf list--pane">
                <li class="list--pane__item"><span class="book-1"></span></li>
                <li class="list--pane__item"><span class="book-2"></span></li>
                <li class="list--pane__item"><span class="book-3"></span></li>
                <li class="list--pane__item"><span class="book-4"></span></li>
                <li class="list--pane__item"><span class="book-5"></span></li>
                <li class="list--pane__item"><span class="book-6"></span></li>
                <li class="list--pane__item"><span class="book-7"></span></li>
                <li class="list--pane__item"><span class="book-8"></span></li>
                <li class="list--pane__item"><span class="book-9"></span></li>
                <li class="list--pane__item"><span class="book-10"></span></li>
              </ul>
            </div>
          </div>

      </article>


    </div>


<!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> -->
  <script>

    $(document).ready(function () {
      var sideBar = $('.sidebar');
      var menu = $('.sidebar__toggle');
      menu.hide();
      // Only in mobile
      menu.click(function() {
        $(this).toggleClass('sidebar--is-active');
        $('.header').toggleClass('slideOutUp slideInDown');
        sideBar.toggleClass('slideOutLeft slideInLeft');
      });

    });

    window.onload = function() {
      var sideBar = $('.sidebar');
      var menu = $('.sidebar__toggle');
      console.log("LOADED");
      if ($(window).width() >= 768){
        console.log("DETECTED: Tablet and above");
        if (sideBar.hasClass('slideOutLeft')) {
          sideBar.removeClass('slideOutLeft').addClass('slideInLeft');
        }
        menu.fadeOut('fast');
      } else {
        console.log("DETECTED: Phones");
        if(sideBar.hasClass('slideInLeft')) {
          sideBar.removeClass('slideInLeft').addClass('slideOutLeft');
        }
        menu.fadeIn('fast');
      }
    }

    // Media query
    $(window).resize(function(){
      var sideBar = $('.sidebar');
      var menu = $('.sidebar__toggle');
      console.error("DETECTED: Window resize");
      if ($(window).width() >= 768){
        if (sideBar.hasClass('slideOutLeft')) {
          sideBar.removeClass('slideOutLeft').addClass('slideInLeft');
        }
        menu.fadeOut('fast');
        console.log('Sidebar made visible');
      } else {
        if(sideBar.hasClass('slideInLeft')) {
          sideBar.removeClass('slideInLeft').addClass('slideOutLeft');
        }
        menu.fadeIn('fast');
      }
    });


  </script>

  </body>

</html>
