<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include preloader.html %}
    {% include header.html %}
    {% include sidebar.html %}

    <div class="container content">

      {% include masthead.html %}

      <div class="article-wrapper">
        <article>
          <!-- Article/page title -->

          {{ content }}
          <!-- Links to CV, Github etc -->
          {% include links.html %}

          {% include intro.html %}
        </article>
      </div>

    </div>



    {% include footer.html %}

  </body>

</html>
