<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>


    {% include preloader.html %}
    {% include header.html %}
    {% include sidebar.html %}

    <div class="container content">
      <!-- No masthead -->

      <div class="article-wrapper">
        <article>
          <!-- Article/page title -->
          <div class="page__head">
            <h3 class="page__title">{{ page.article_title }}</h3>
            <h4 class="page__subtitle">{{ page.article_subtitle }}</h4>
          </div>

          <!-- Article body -->
          {{ page.content }}

          <!-- Work and project panes -->
          <div class="projects">
            <div class="group">
              <!-- Nimbyx -->
              <div class="project-pane span6">
                <a href="" class="project project--nimbyx" style="background-image: url('nimbyx/thumb.jpg');">
                  <img src="nimbyx/logo-w.png" alt="Logo for Nimbyx" class="project__logo logo--nimbyx">
                  <span class="project__bg"></span>
                  <div class="project__intro">
                    <h4 class="project__title">Nimbyx</h4>
                    <small class="project__caption clearfix">From classic to modern</small>
                    <small class="project__link">View Case Study</small>
                  </div>
                </a>
              </div>

              <!-- NAV -->
              <div class="project-pane span6">
                <a href="" class="project project--nav" style="background-image: url('nav/thumb.jpg');">
                  <img src="nav/logo-w.png" alt="" class="project__logo logo--nav">
                  <span class="project__bg"></span>
                  <div class="project__intro">
                    <h4 class="project__title">NAV Global</h4>
                    <small class="project__caption clearfix">Overhauling a world-class financial app</small>
                    <small class="project__link">View Project</small>
                  </div>
                </a>
              </div>

              <!-- JDSVOICE -->
              <div class="project-pane span6">
                <a href="" class="project project--jds" style="background-image: url('jdsvoice/thumb.jpg');">
                  <img src="jdsvoice/logo-w.png" alt="" class="project__logo logo--jds">
                  <span class="project__bg"></span>
                  <div class="project__intro">
                    <h4 class="project__title">John Scott <br class="newline"> School of Voice</h4>
                    <small class="project__caption clearfix">Redefining the classroom model</small>
                    <small class="project__link">View Case Study</small>
                  </div>
                </a>
              </div>

              <!-- SUGARHABITS -->
              <div class="project-pane span6">
                <a href="" class="project project--sugarhabits" style="background-image: url('sugarhabits/thumb.jpg');">
                  <img src="sugarhabits/logo-w.png" alt="" class="project__logo logo--sugarhabits">
                  <span class="project__bg"></span>
                  <div class="project__intro">
                    <h4 class="project__title">SugarHabits</h4>
                    <small class="project__caption clearfix">Life gamified</small>
                    <small class="project__link">View Case Study</small>
                  </div>
                </a>
              </div>

              <!-- Evident -->
              <div class="project-pane span6">
                <a href="" class="project project--evident" style="background-image: url('evidentlabs/thumb.jpg');">
                  <img src="evidentlabs/logo-w.png" alt="" class="project__logo logo--evident">
                  <span class="project__bg"></span>
                  <div class="project__intro">
                    <h4 class="project__title">Evident Labs</h4>
                    <small class="project__caption clearfix">Modernizing a classic dental app</small>
                    <small class="project__link">View Case Study</small>
                  </div>
                </a>
              </div>

              <!-- Bitehero -->
              <div class="project-pane span6">
                <a href="" class="project project--bitehero" style="background-image: url('bitehero/thumb.jpg');">
                  <img src="bitehero/logo-w.png" alt="" class="project__logo logo--bitehero">
                  <span class="project__bg"></span>
                  <div class="project__intro">
                    <h4 class="project__title">BiteHero</h4>
                    <small class="project__caption clearfix">The Uber for dentistry, gamified</small>
                    <small class="project__link">View Case Study</small>
                  </div>
                </a>
              </div>

            </div>
          </div>
        </article>
      </div>

    </div>



    {% include footer.html %}

  </body>

</html>
