//**
// Project Settings
//**

// Consistent settings
$br: 5px; // Border-radius
$btn-br: 5px; // Button border-radius
$baseline-height: 20px; // For vertical rhythm
$padding: $baseline-height; // Padding and margins
$margin: $baseline-height;
$line-height: $baseline-height; // Consistent height for buttons, inputs etc.

// Default transition timing function
$transition-timing-fxn: cubic-bezier(0.86, 0, 0.07, 1);

// Base font settings
$primary-font-family: "Work Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$primary-font-family-bold: "Work Sans", "HelveticaNeue-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font-family: "Work Sans", "HelveticaNeue-CondensedBold", "Impact", Helvetica, Arial, sans-serif;
$tertiary-font-family: "Work Sans", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;

// Responsive breakpoints
$small-break: 480px;
$big-break: 768px;

// Grid Settings
$gutter-width: 20px;

// Layout defaults
$sidebar-width: 250px;


// Better default colors
// Cool
$blue:  #69CCF0; // $mage blue
$aqua:  #00FF96;
$red:   #C90E29; // Death Knight Red
$yellow: #FFA348;

$green: #45C15C;
$orange: #FF851B;

// Gray Scale
$white:  #fff;
$silver: #F9FAFC;
$grey:   #858B99;
$grey-light: lighten($grey,80%);
$black:  #4A4A4A;

// Project color variables
$primary-color: $red;
$secondary-color: #233e5b;
$tertiary-color: #aaa;

$primary-text-color: $black;

$danger-color: $red; // Bad color for errors, validation etc.
$success-color: $green; // Good color for success etc.
$info-color: $blue; // Good color for success etc.
$warning-color: $orange; // Good color for success etc.
$subtle-color: $grey; // Subtle color for subtle text

// Transparent colors for layouts
$alpha-red:  transparentize($red, 0.85);
$alpha-blue: transparentize($blue, 0.85);
$alpha-lime: transparentize($green, 0.85);
