@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeue.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/HelveticaNeue.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelveticaNeue.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeue.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('HelveticaNeueBold.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeueBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('HelveticaNeueBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('HelveticaNeueBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('HelveticaNeueBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('HelveticaNeueBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('HelveticaNeueLight.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeueLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('HelveticaNeueLight.woff2') format('woff2'), /* Super Modern Browsers */
       url('HelveticaNeueLight.woff') format('woff'), /* Pretty Modern Browsers */
       url('HelveticaNeueLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('HelveticaNeueLight.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeue-CondensedBold';
  src: url('HelveticaNeueCondensedBold.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeueCondensedBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('HelveticaNeueCondensedBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('HelveticaNeueCondensedBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('HelveticaNeueCondensedBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('HelveticaNeueCondensedBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
