@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeue.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/HelveticaNeue.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelveticaNeue.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeue.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('../fonts/HelveticaNeueBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/HelveticaNeueBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelveticaNeueBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('../fonts/HelveticaNeueLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLight.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/HelveticaNeueLight.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelveticaNeueLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLight.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeue-CondensedBold';
  src: url('../fonts/HelveticaNeueCondensedBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueCondensedBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueCondensedBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/HelveticaNeueCondensedBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelveticaNeueCondensedBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueCondensedBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
