$fonts-dir: '../fonts/';
@font-face {
  font-family: 'FontAwesome';
  src: url($fonts_dir+'fontawesome-webfont.eot?v=3.2.0');
  src: url($fonts_dir+'fontawesome-webfont.eot?#iefix&v=3.2.0') format('embedded-opentype'), url($fonts_dir+'fontawesome-webfont.woff?v=3.2.0') format('woff'), url($fonts_dir+'fontawesome-webfont.ttf?v=3.2.0') format('truetype'), url($fonts_dir+'fontawesome-webfont.svg#fontawesomeregular?v=3.2.0') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Calendas';
  src: url($fonts_dir+'Calendas Italic.eot'); /* IE9 Compat Modes */
  src: url($fonts_dir+'Calendas Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url($fonts_dir+'Calendas Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url($fonts_dir+'Calendas Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url($fonts_dir+'Calendas Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url($fonts_dir+'Calendas Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family:'Technology-Icons';
    src:url($fonts_dir+'technology-icons.eot');
    font-weight:normal;
    font-style:normal;
}@font-face {
	font-family:'Technology-Icons';
	src:url($fonts_dir+'technology-icons.eot');
	src:url($fonts_dir+'technology-icons.eot?#iefix') format('embedded-opentype'),
		url($fonts_dir+'technology-icons.woff') format('woff'),
		url($fonts_dir+'technology-icons.ttf') format('truetype'),
		url($fonts_dir+'technology-icons.svg?#technology-icons') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
    font-family:'Icons';
    src:url($fonts_dir+'icons.eot');
    font-weight:normal;
    font-style:normal;
}@font-face {
	font-family:'Icons';
	src:url($fonts_dir+'icons.eot');
	src:url($fonts_dir+'icons.eot?#iefix') format('embedded-opentype'),
		url($fonts_dir+'icons.woff') format('woff'),
		url($fonts_dir+'icons.ttf') format('truetype'),
		url($fonts_dir+'icons.svg?#technology-icons') format('svg');
	font-weight:normal;
	font-style:normal;
}
