//**
// Responsive Styles
//**

@include mobilefirst($big-break) {
  html, body {
    font-size: $base-font-size + 2;
  }
  // Adjust line-height
  .text--body,
  .list--unordered__item {
    line-height: $line-height * 1.5;
  }

  .header {
    display: none;
  }
  .sidebar__toggle {
    display: block; // hide the menu button
  }
  .content {
    width: auto;
    margin-left: $sidebar-width;
    margin-top: 0;
  }
  .article-wrapper {
    max-width: 960px;
    padding: $padding;
  }
  .page__title {
    font-size: $base-font-size * 3;
    line-height: $line-height * 3;
  }
  .text--body {
    font-size: $base-font-size + 2;
  }
  .list--grid {
    width: $baseline-height * 21;
  }
  .project-pane {

  }
  .logo--nimbyx {}
  .logo--evident {}
  .logo--nav {}
  .logo--jds {  }
  .logo--sugarhabits {  }
  .logo--bitehero {  }

}

@include mobilefirst(960px) {
  .newline {
    display: none;
  }
  .project__bg, .project__intro, .project__title {
    display: block;
  }
}


@include responsiveheight(460px) {
  // e.g. iPhone 5 rendering screen is short
  .content {
    overflow-y: scroll;
  }
  .sidebar {
    overflow-y: scroll !important;
  }
  .sidebar__footer {
    position: relative;
  }
}



@include responsive($small-break) {
  // e.g. iPhone, mobile
  body {
    overflow-x: hidden;
  }
}
