//**
// Shameful Quick Fixes (Tidy Later)
//**


// Removes the "blink" effect when clicked in iOS
.tech-experience__icon,
.tech-studying__icon,
.page__title,
.sidebar__toggle {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

// Fallback for picture element
img {
    width: 100%;
    height: auto;
}

// Fix for extra letter spacing when rendering some fonts in iOS
// Source: http://stackoverflow.com/a/11879044
.page__title {
  font-weight: 400;
}
