//**
// Typography
//**



html, body {
  font-family: $primary-font-family;
  font-size: $base-font-size - 2;
  font-style: normal;
  font-weight: 400;
  line-height: $line-height;
  color: $primary-text-color;
}
a {
  text-decoration: none;
}

.fancy {
  font-family: Calendas, Georgia, "Times";
  font-size: $base-font-size;
  color: $fancy-text-color;
}
.link--text {
    text-decoration: none;
    position: relative;
    font-family: $primary-font-family;
    color: $text-link-color;
}
.text--body {
  font-family: $primary-font-family;
  font-weight: 300;
  line-height: $line-height;
  margin-bottom: $baseline-height;
}
.title--site {}
.page__title {
  font-family: $primary-font-family;
  font-size: $base-font-size * 1.8; // Increase to 2.5 in larger screens
  line-height: $line-height * 2;
  margin: $baseline-height*2 0;
  color: $primary-text-color;
  text-transform: uppercase;
}
.page__subtitle {
  font-family: $tertiary-font-family;
  font-size: $base-font-size * (2/3);
  font-weight: 300;
  color: $subtle-text-color;;
  letter-spacing: 1px;
  line-height: $line-height;
  text-transform: uppercase;
  margin-top: -$baseline-height * 2; // Always right below the title
  margin-bottom: $baseline-height * 2;
}
.list--unordered {
  list-style: none;
  font-family: $tertiary-font-family;
  font-weight: 300;
  padding: 0;
  margin: 0;
//  background: transparentize(yellow, 0.7);
}
.list--unordered__item {
  line-height: $line-height;
  margin-left: $margin;
  position: relative;
}
.list--unordered__item::before {
  font-family: FontAwesome;
  font-size: $base-font-size + 2;
  vertical-align: top;
  height: $line-height;
  line-height: $line-height;
  content: "\f105";
  color: $primary-color;
  position: absolute;
  left: -$margin;
}
.list--grid, .list--pane {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.list--grid__item {
  display: table-cell;
  flex-grow: 0;
  flex-shrink: 0;
  width: $baseline-height * 2;
  height: $baseline-height * 2;
  line-height: $line-height * 2;
  text-align: center;
  vertical-align: middle;
  margin-right: $margin / 2;
  margin-top: $margin;
}
.tech-experience__icon,
.tech-studying__icon {
  font-size: $baseline-height;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: $line-height * 2;
  vertical-align: middle;
  text-align: center;
  color: $subtle-text-color;;
  -webkit-transition: 0.5s all $transition-timing-fxn;
  -o-transition: 0.5s all $transition-timing-fxn;
  transition: 0.5s all $transition-timing-fxn;
}
.list--pane__item {
  -webkit-transition: 0.5s all $transition-timing-fxn;
  -o-transition: 0.5s all $transition-timing-fxn;
  transition: 0.5s all $transition-timing-fxn;
}
.tech-experience__icon:hover,
.tech-experience__icon:active,
.list--pane__item:hover,
.list--pane__item:active {
  background: $white;
  box-shadow: 0px 16px 15px 0px rgba(0,0,0,0.30);
  color: $yellow;
  transform: translateY(-1px);
}
.tech-name {
  color: $yellow;
}
.list--pane__item {
  display: table-cell;
  margin-right: $margin;
  margin-top: $margin;
  background: $alpha-red;
}
.heading--primary {
  font-family: $primary-font-family;
  font-size: $base-font-size + 2;
  text-transform: uppercase;
  margin-top: $baseline-height * 2;
}
.heading--secondary {}


/*
blockquote {
  border-left: 2px solid $primary-color;
  font-family:  $primary-font-family;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 $padding/2;
  padding-left: 25px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $primary-font-family;
}

h1 {
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 25px;
}

h2 {
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 25px;
}

h3 {
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 25px;
}

h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin: 0 0 25px;
}

h5 {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  margin: 0 0 25px;
}
*/
p {
  margin: 0 0 $padding/2;
}

pre {
  background: #222;
  color: #fff;
  display: block;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 20px;
  margin: 0 0 $padding/2;
  padding: 10px;
  word-break: break-all;
  word-wrap: break-word;
}

code {
  border-radius: 5px;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, .1);
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 20px;
  padding: 2px 10px;
  word-break: break-all;
  word-wrap: break-word;
}

a {
  color: $primary-color;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}





// Responsive styles if needed
// @include responsive($big-break) {
// }
/*
@include responsive($small-break) {
  body {
    font-size: 14px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 10px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4,
  h5,
  p,
  ul,
  ol {
    font-size: 14px;
  }
}
*/
// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
